@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner2_756004352 {
	background-color: #ffffff;
	border: 1px solid #000;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 480px;
	overflow: hidden;
	position: relative;
	width: 300px;
	z-index: 1;
}#banner2_756004352 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner2_756004352 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner2_756004352 {
	top: 356px;
	left: 203px;
	z-index: 1;
}

#img_1_banner2_756004352 {
	width: 97px;
	height: 124px;
}

#img_1_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-bottom 1800ms 200ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-bottom 1800ms 200ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_1_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_2_banner2_756004352 {
	top: 361px;
	left: 97px;
	z-index: 2;
}

#img_2_banner2_756004352 {
	width: 106px;
	height: 119px;
}

#img_2_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-bottom 1600ms 0ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-bottom 1600ms 0ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_2_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_3_banner2_756004352 {
	top: 358px;
	left: 0px;
	z-index: 3;
}

#img_3_banner2_756004352 {
	width: 97px;
	height: 122px;
}

#img_3_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-bottom 1700ms 100ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-bottom 1700ms 100ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_3_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_4_banner2_756004352 {
	top: 358px;
	left: 0px;
	z-index: 4;
}

#img_4_banner2_756004352 {
	width: 97px;
	height: 122px;
}

#img_4_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-bottom 2700ms 3400ms ease 1 both, simple-hide 0ms 7000ms both;
	animation: slide-in-bottom 2700ms 3400ms ease 1 both, simple-hide 0ms 7000ms both;
}

#img_4_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out-bottom 1000ms 7000ms ease 1 both, simple-show 0ms 7000ms both;
	animation: fade-out-bottom 1000ms 7000ms ease 1 both, simple-show 0ms 7000ms both;
}

#b_5_banner2_756004352 {
	top: 361px;
	left: 97px;
	z-index: 5;
}

#img_5_banner2_756004352 {
	width: 106px;
	height: 119px;
}

#img_5_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-bottom 2500ms 3700ms ease 1 both, simple-hide 0ms 6700ms both;
	animation: slide-in-bottom 2500ms 3700ms ease 1 both, simple-hide 0ms 6700ms both;
}

#img_5_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out-bottom 1000ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
	animation: fade-out-bottom 1000ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
}

#b_6_banner2_756004352 {
	top: 356px;
	left: 203px;
	z-index: 6;
}

#img_6_banner2_756004352 {
	width: 97px;
	height: 124px;
}

#img_6_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-bottom 2500ms 3400ms ease 1 both, simple-hide 0ms 6700ms both;
	animation: slide-in-bottom 2500ms 3400ms ease 1 both, simple-hide 0ms 6700ms both;
}

#img_6_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out-bottom 1200ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
	animation: fade-out-bottom 1200ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
}

#b_7_banner2_756004352 {
	top: 328.5730447769165px;
	left: 146.96999740600586px;
	z-index: 7;
}

#img_7_banner2_756004352 {
	width: 123px;
	height: 17px;
}

#img_7_banner2_756004352.bnfy-enter {
	-webkit-animation: none 500ms 1800ms ease 1 both;
	animation: none 500ms 1800ms ease 1 both;
}

#b_8_banner2_756004352 {
	top: 261px;
	left: 43px;
	z-index: 8;
}

#img_8_banner2_756004352 {
	width: 227px;
	height: 60px;
}

#img_8_banner2_756004352.bnfy-enter {
	-webkit-animation: none 1800ms 500ms ease 1 both;
	animation: none 1800ms 500ms ease 1 both;
}

#b_9_banner2_756004352 {
	top: 183.5px;
	left: 43px;
	z-index: 9;
}

#img_9_banner2_756004352 {
	width: 227px;
	height: 104px;
}

#img_9_banner2_756004352.bnfy-enter {
	-webkit-animation: none 2000ms 100ms ease 1 both;
	animation: none 2000ms 100ms ease 1 both;
}

#b_10_banner2_756004352 {
	top: 1px;
	left: 198px;
	z-index: 10;
}

#img_10_banner2_756004352 {
	width: 102px;
	height: 136px;
}

#img_10_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 500ms ease 1 both, simple-hide 0ms 5800ms both;
	animation: slide-in-top 1800ms 500ms ease 1 both, simple-hide 0ms 5800ms both;
}

#img_10_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5800ms ease 1 both, simple-show 0ms 5800ms both;
	animation: fade-out 1000ms 5800ms ease 1 both, simple-show 0ms 5800ms both;
}

#b_11_banner2_756004352 {
	top: 0px;
	left: 94px;
	z-index: 11;
}

#img_11_banner2_756004352 {
	width: 104px;
	height: 163px;
}

#img_11_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-top 1500ms 400ms ease 1 both, simple-hide 0ms 5700ms both;
	animation: slide-in-top 1500ms 400ms ease 1 both, simple-hide 0ms 5700ms both;
}

#img_11_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
	animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
}

#b_12_banner2_756004352 {
	top: 0px;
	left: 0px;
	z-index: 12;
}

#img_12_banner2_756004352 {
	width: 94px;
	height: 151px;
}

#img_12_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 200ms ease 1 both, simple-hide 0ms 5700ms both;
	animation: slide-in-top 1800ms 200ms ease 1 both, simple-hide 0ms 5700ms both;
}

#img_12_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
	animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
}

#b_13_banner2_756004352 {
	top: 0px;
	left: 198px;
	z-index: 13;
}

#img_13_banner2_756004352 {
	width: 102px;
	height: 137px;
}

#img_13_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 3900ms ease 1 both, simple-hide 0ms 6900ms both;
	animation: slide-in-top 1800ms 3900ms ease 1 both, simple-hide 0ms 6900ms both;
}

#img_13_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out-top 1000ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
	animation: fade-out-top 1000ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
}

#b_14_banner2_756004352 {
	top: 0px;
	left: 94px;
	z-index: 14;
}

#img_14_banner2_756004352 {
	width: 104px;
	height: 163px;
}

#img_14_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-top 1700ms 3800ms ease 1 both, simple-hide 0ms 6800ms both;
	animation: slide-in-top 1700ms 3800ms ease 1 both, simple-hide 0ms 6800ms both;
}

#img_14_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out-top 1100ms 6800ms ease 1 both, simple-show 0ms 6800ms both;
	animation: fade-out-top 1100ms 6800ms ease 1 both, simple-show 0ms 6800ms both;
}

#b_15_banner2_756004352 {
	top: 0px;
	left: 0px;
	z-index: 15;
}

#img_15_banner2_756004352 {
	width: 94px;
	height: 151px;
}

#img_15_banner2_756004352.bnfy-enter {
	-webkit-animation: slide-in-top 2000ms 3800ms ease 1 both, simple-hide 0ms 6900ms both;
	animation: slide-in-top 2000ms 3800ms ease 1 both, simple-hide 0ms 6900ms both;
}

#img_15_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out-top 900ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
	animation: fade-out-top 900ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
}

#b_16_banner2_756004352 {
	top: 118px;
	left: 179px;
	z-index: 16;
}

#img_16_banner2_756004352 {
	width: 88px;
	height: 88px;
}

#img_16_banner2_756004352.bnfy-enter {
	-webkit-animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6600ms both;
	animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6600ms both;
}

#img_16_banner2_756004352.bnfy-exit {
	-webkit-animation: fade-out 1000ms 6600ms ease 1 both, simple-show 0ms 6600ms both;
	animation: fade-out 1000ms 6600ms ease 1 both, simple-show 0ms 6600ms both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@-webkit-keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0
	}
}

@keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0
	}
}

@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}
