@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner6_933789850 {
	background-color: #ffffff;
	border: 1px solid #000;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 320px;
	overflow: hidden;
	position: relative;
	width: 320px;
	z-index: 1;
}#banner6_933789850 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner6_933789850 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner6_933789850 {
	top: 138.9239101409912px;
	left: 155px;
	z-index: 1;
}

#img_1_banner6_933789850 {
	width: 135px;
	height: 18px;
}

#img_1_banner6_933789850.bnfy-enter {
	-webkit-animation: none 500ms 1800ms ease 1 both;
	animation: none 500ms 1800ms ease 1 both;
}

#b_2_banner6_933789850 {
	top: 20px;
	left: 35px;
	z-index: 2;
}

#img_2_banner6_933789850 {
	width: 227px;
	height: 103px;
}

#img_2_banner6_933789850.bnfy-enter {
	-webkit-animation: none 2000ms 100ms ease 1 both;
	animation: none 2000ms 100ms ease 1 both;
}

#b_3_banner6_933789850 {
	top: 180px;
	left: 0px;
	z-index: 3;
}

#img_3_banner6_933789850 {
	width: 119px;
	height: 140px;
}

#img_3_banner6_933789850.bnfy-enter {
	-webkit-animation: slide-in-bottom 1000ms 300ms ease 1 both, simple-hide 0ms 4700ms both;
	animation: slide-in-bottom 1000ms 300ms ease 1 both, simple-hide 0ms 4700ms both;
}

#img_3_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out 1000ms 4700ms ease 1 both, simple-show 0ms 4700ms both;
	animation: fade-out 1000ms 4700ms ease 1 both, simple-show 0ms 4700ms both;
}

#b_4_banner6_933789850 {
	top: 173px;
	left: 119px;
	z-index: 4;
}

#img_4_banner6_933789850 {
	width: 101px;
	height: 130px;
}

#img_4_banner6_933789850.bnfy-enter {
	-webkit-animation: slide-in-bottom 1100ms 200ms ease 1 both, simple-hide 0ms 4600ms both;
	animation: slide-in-bottom 1100ms 200ms ease 1 both, simple-hide 0ms 4600ms both;
}

#img_4_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out 1000ms 4600ms ease 1 both, simple-show 0ms 4600ms both;
	animation: fade-out 1000ms 4600ms ease 1 both, simple-show 0ms 4600ms both;
}

#b_5_banner6_933789850 {
	top: 180px;
	left: 220px;
	z-index: 5;
}

#img_5_banner6_933789850 {
	width: 100px;
	height: 140px;
}

#img_5_banner6_933789850.bnfy-enter {
	-webkit-animation: slide-in-bottom 1200ms 400ms ease 1 both, simple-hide 0ms 4600ms both;
	animation: slide-in-bottom 1200ms 400ms ease 1 both, simple-hide 0ms 4600ms both;
}

#img_5_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out 1000ms 4600ms ease 1 both, simple-show 0ms 4600ms both;
	animation: fade-out 1000ms 4600ms ease 1 both, simple-show 0ms 4600ms both;
}

#b_6_banner6_933789850 {
	top: 180px;
	left: 220px;
	z-index: 6;
}

#img_6_banner6_933789850 {
	width: 100px;
	height: 140px;
}

#img_6_banner6_933789850.bnfy-enter {
	-webkit-animation: slide-in-bottom 1600ms 3500ms ease 1 both, simple-hide 0ms 6500ms both;
	animation: slide-in-bottom 1600ms 3500ms ease 1 both, simple-hide 0ms 6500ms both;
}

#img_6_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out-bottom 1400ms 6500ms ease 1 both, simple-show 0ms 6500ms both;
	animation: fade-out-bottom 1400ms 6500ms ease 1 both, simple-show 0ms 6500ms both;
}

#b_7_banner6_933789850 {
	top: 173px;
	left: 119px;
	z-index: 7;
}

#img_7_banner6_933789850 {
	width: 101px;
	height: 130px;
}

#img_7_banner6_933789850.bnfy-enter {
	-webkit-animation: slide-in-bottom 1400ms 3600ms ease 1 both, simple-hide 0ms 6700ms both;
	animation: slide-in-bottom 1400ms 3600ms ease 1 both, simple-hide 0ms 6700ms both;
}

#img_7_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out-bottom 1300ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
	animation: fade-out-bottom 1300ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
}

#b_8_banner6_933789850 {
	top: 180px;
	left: 0px;
	z-index: 8;
}

#img_8_banner6_933789850 {
	width: 119px;
	height: 140px;
}

#img_8_banner6_933789850.bnfy-enter {
	-webkit-animation: slide-in-bottom 1200ms 3400ms ease 1 both, simple-hide 0ms 6800ms both;
	animation: slide-in-bottom 1200ms 3400ms ease 1 both, simple-hide 0ms 6800ms both;
}

#img_8_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out-bottom 1000ms 6800ms ease 1 both, simple-show 0ms 6800ms both;
	animation: fade-out-bottom 1000ms 6800ms ease 1 both, simple-show 0ms 6800ms both;
}

#b_9_banner6_933789850 {
	top: 110px;
	left: 14px;
	z-index: 9;
}

#img_9_banner6_933789850 {
	width: 90px;
	height: 90px;
}

#img_9_banner6_933789850.bnfy-enter {
	-webkit-animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6600ms both;
	animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6600ms both;
}

#img_9_banner6_933789850.bnfy-exit {
	-webkit-animation: fade-out 1000ms 6600ms ease 1 both, simple-show 0ms 6600ms both;
	animation: fade-out 1000ms 6600ms ease 1 both, simple-show 0ms 6600ms both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@-webkit-keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}
