@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner8_846958424 {
	background-color: #ffffff;
	border: 1px solid #000;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 240px;
	overflow: hidden;
	position: relative;
	width: 980px;
	z-index: 1;
}#banner8_846958424 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner8_846958424 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner8_846958424 {
	top: 36px;
	left: 553px;
	z-index: 1;
}

#img_1_banner8_846958424 {
	width: 389px;
	height: 60px;
}

#img_1_banner8_846958424.bnfy-enter {
	-webkit-animation: none 2000ms 100ms ease 1 both;
	animation: none 2000ms 100ms ease 1 both;
}

#b_2_banner8_846958424 {
	top: 102px;
	left: 553px;
	z-index: 2;
}

#img_2_banner8_846958424 {
	width: 410px;
	height: 51px;
}

#img_2_banner8_846958424.bnfy-enter {
	-webkit-animation: none 1800ms 500ms ease 1 both;
	animation: none 1800ms 500ms ease 1 both;
}

#b_3_banner8_846958424 {
	top: 187.61856174468994px;
	left: 777.9999694824219px;
	z-index: 3;
}

#img_3_banner8_846958424 {
	width: 156px;
	height: 21px;
}

#img_3_banner8_846958424.bnfy-enter {
	-webkit-animation: none 500ms 1800ms ease 1 both;
	animation: none 500ms 1800ms ease 1 both;
}

#b_4_banner8_846958424 {
	top: 0px;
	left: 327px;
	z-index: 4;
}

#img_4_banner8_846958424 {
	width: 163px;
	height: 222px;
}

#img_4_banner8_846958424.bnfy-enter {
	-webkit-animation: slide-in-top 1500ms 200ms ease 1 both, simple-hide 0ms 5500ms both;
	animation: slide-in-top 1500ms 200ms ease 1 both, simple-hide 0ms 5500ms both;
}

#img_4_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5500ms ease 1 both, simple-show 0ms 5500ms both;
	animation: fade-out 1000ms 5500ms ease 1 both, simple-show 0ms 5500ms both;
}

#b_5_banner8_846958424 {
	top: 0px;
	left: 164px;
	z-index: 5;
}

#img_5_banner8_846958424 {
	width: 163px;
	height: 240px;
}

#img_5_banner8_846958424.bnfy-enter {
	-webkit-animation: slide-in-top 1400ms 0ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-top 1400ms 0ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_5_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_6_banner8_846958424 {
	top: 0px;
	left: 0px;
	z-index: 6;
}

#img_6_banner8_846958424 {
	width: 164px;
	height: 222px;
}

#img_6_banner8_846958424.bnfy-enter {
	-webkit-animation: slide-in-top 1700ms 100ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-top 1700ms 100ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_6_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_7_banner8_846958424 {
	top: 0px;
	left: 327px;
	z-index: 7;
}

#img_7_banner8_846958424 {
	width: 163px;
	height: 222px;
}

#img_7_banner8_846958424.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 3100ms ease 1 both, simple-hide 0ms 6400ms both;
	animation: slide-in-top 1800ms 3100ms ease 1 both, simple-hide 0ms 6400ms both;
}

#img_7_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out-bottom 1500ms 6400ms ease 1 both, simple-show 0ms 6400ms both;
	animation: fade-out-bottom 1500ms 6400ms ease 1 both, simple-show 0ms 6400ms both;
}

#b_8_banner8_846958424 {
	top: 0px;
	left: 164px;
	z-index: 8;
}

#img_8_banner8_846958424 {
	width: 163px;
	height: 240px;
}

#img_8_banner8_846958424.bnfy-enter {
	-webkit-animation: slide-in-top 1700ms 3100ms ease 1 both, simple-hide 0ms 6300ms both;
	animation: slide-in-top 1700ms 3100ms ease 1 both, simple-hide 0ms 6300ms both;
}

#img_8_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out-bottom 1600ms 6300ms ease 1 both, simple-show 0ms 6300ms both;
	animation: fade-out-bottom 1600ms 6300ms ease 1 both, simple-show 0ms 6300ms both;
}

#b_9_banner8_846958424 {
	top: 0px;
	left: 0px;
	z-index: 9;
}

#img_9_banner8_846958424 {
	width: 164px;
	height: 222px;
}

#img_9_banner8_846958424.bnfy-enter {
	-webkit-animation: slide-in-top 1600ms 3300ms ease 1 both, simple-hide 0ms 6400ms both;
	animation: slide-in-top 1600ms 3300ms ease 1 both, simple-hide 0ms 6400ms both;
}

#img_9_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out-bottom 1600ms 6400ms ease 1 both, simple-show 0ms 6400ms both;
	animation: fade-out-bottom 1600ms 6400ms ease 1 both, simple-show 0ms 6400ms both;
}

#b_10_banner8_846958424 {
	top: 131px;
	left: 457px;
	z-index: 10;
}

#img_10_banner8_846958424 {
	width: 102px;
	height: 102px;
}

#img_10_banner8_846958424.bnfy-enter {
	-webkit-animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6300ms both;
	animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6300ms both;
}

#img_10_banner8_846958424.bnfy-exit {
	-webkit-animation: fade-out 1300ms 6300ms ease 1 both, simple-show 0ms 6300ms both;
	animation: fade-out 1300ms 6300ms ease 1 both, simple-show 0ms 6300ms both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@-webkit-keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}
