@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner1_061585661 {
	background-color: #ffffff;
	border: 1px solid #000;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 600px;
	overflow: hidden;
	position: relative;
	width: 250px;
	z-index: 1;
}#banner1_061585661 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner1_061585661 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner1_061585661 {
	top: 461px;
	left: 170px;
	z-index: 1;
}

#img_1_banner1_061585661 {
	width: 80px;
	height: 129px;
}

#img_1_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-bottom 1800ms 200ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-bottom 1800ms 200ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_1_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_2_banner1_061585661 {
	top: 461px;
	left: 78px;
	z-index: 2;
}

#img_2_banner1_061585661 {
	width: 92px;
	height: 139px;
}

#img_2_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-bottom 1600ms 0ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-bottom 1600ms 0ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_2_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_3_banner1_061585661 {
	top: 461px;
	left: 0px;
	z-index: 3;
}

#img_3_banner1_061585661 {
	width: 78px;
	height: 122px;
}

#img_3_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-bottom 1700ms 100ms ease 1 both, simple-hide 0ms 5600ms both;
	animation: slide-in-bottom 1700ms 100ms ease 1 both, simple-hide 0ms 5600ms both;
}

#img_3_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
	animation: fade-out 1000ms 5600ms ease 1 both, simple-show 0ms 5600ms both;
}

#b_4_banner1_061585661 {
	top: 460px;
	left: 0px;
	z-index: 4;
}

#img_4_banner1_061585661 {
	width: 78px;
	height: 128px;
}

#img_4_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-bottom 2700ms 3400ms ease 1 both, simple-hide 0ms 7000ms both;
	animation: slide-in-bottom 2700ms 3400ms ease 1 both, simple-hide 0ms 7000ms both;
}

#img_4_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out-bottom 1000ms 7000ms ease 1 both, simple-show 0ms 7000ms both;
	animation: fade-out-bottom 1000ms 7000ms ease 1 both, simple-show 0ms 7000ms both;
}

#b_5_banner1_061585661 {
	top: 460px;
	left: 78px;
	z-index: 5;
}

#img_5_banner1_061585661 {
	width: 92px;
	height: 140px;
}

#img_5_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-bottom 2500ms 3700ms ease 1 both, simple-hide 0ms 6700ms both;
	animation: slide-in-bottom 2500ms 3700ms ease 1 both, simple-hide 0ms 6700ms both;
}

#img_5_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out-bottom 1000ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
	animation: fade-out-bottom 1000ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
}

#b_6_banner1_061585661 {
	top: 460px;
	left: 170px;
	z-index: 6;
}

#img_6_banner1_061585661 {
	width: 80px;
	height: 130px;
}

#img_6_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-bottom 2500ms 3400ms ease 1 both, simple-hide 0ms 6700ms both;
	animation: slide-in-bottom 2500ms 3400ms ease 1 both, simple-hide 0ms 6700ms both;
}

#img_6_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out-bottom 1200ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
	animation: fade-out-bottom 1200ms 6700ms ease 1 both, simple-show 0ms 6700ms both;
}

#b_7_banner1_061585661 {
	top: 423.5517477989197px;
	left: 111.70000457763672px;
	z-index: 7;
}

#img_7_banner1_061585661 {
	width: 117px;
	height: 16px;
}

#img_7_banner1_061585661.bnfy-enter {
	-webkit-animation: none 500ms 1800ms ease 1 both;
	animation: none 500ms 1800ms ease 1 both;
}

#b_8_banner1_061585661 {
	top: 309px;
	left: 18px;
	z-index: 8;
}

#img_8_banner1_061585661 {
	width: 227px;
	height: 103px;
}

#img_8_banner1_061585661.bnfy-enter {
	-webkit-animation: none 1800ms 500ms ease 1 both;
	animation: none 1800ms 500ms ease 1 both;
}

#b_9_banner1_061585661 {
	top: 223.5px;
	left: 18px;
	z-index: 9;
}

#img_9_banner1_061585661 {
	width: 227px;
	height: 104px;
}

#img_9_banner1_061585661.bnfy-enter {
	-webkit-animation: none 2000ms 100ms ease 1 both;
	animation: none 2000ms 100ms ease 1 both;
}

#b_10_banner1_061585661 {
	top: 14px;
	left: 174px;
	z-index: 10;
}

#img_10_banner1_061585661 {
	width: 76px;
	height: 124px;
}

#img_10_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 500ms ease 1 both, simple-hide 0ms 5800ms both;
	animation: slide-in-top 1800ms 500ms ease 1 both, simple-hide 0ms 5800ms both;
}

#img_10_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5800ms ease 1 both, simple-show 0ms 5800ms both;
	animation: fade-out 1000ms 5800ms ease 1 both, simple-show 0ms 5800ms both;
}

#b_11_banner1_061585661 {
	top: 0px;
	left: 75px;
	z-index: 11;
}

#img_11_banner1_061585661 {
	width: 99px;
	height: 157px;
}

#img_11_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-top 1500ms 400ms ease 1 both, simple-hide 0ms 5700ms both;
	animation: slide-in-top 1500ms 400ms ease 1 both, simple-hide 0ms 5700ms both;
}

#img_11_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
	animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
}

#b_12_banner1_061585661 {
	top: 17px;
	left: 0px;
	z-index: 12;
}

#img_12_banner1_061585661 {
	width: 75px;
	height: 133px;
}

#img_12_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 200ms ease 1 both, simple-hide 0ms 5700ms both;
	animation: slide-in-top 1800ms 200ms ease 1 both, simple-hide 0ms 5700ms both;
}

#img_12_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
	animation: fade-out 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
}

#b_13_banner1_061585661 {
	top: 13px;
	left: 173px;
	z-index: 13;
}

#img_13_banner1_061585661 {
	width: 77px;
	height: 133px;
}

#img_13_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-top 1800ms 3900ms ease 1 both, simple-hide 0ms 6900ms both;
	animation: slide-in-top 1800ms 3900ms ease 1 both, simple-hide 0ms 6900ms both;
}

#img_13_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out-top 1000ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
	animation: fade-out-top 1000ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
}

#b_14_banner1_061585661 {
	top: 0px;
	left: 76px;
	z-index: 14;
}

#img_14_banner1_061585661 {
	width: 97px;
	height: 161px;
}

#img_14_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-top 1700ms 3800ms ease 1 both, simple-hide 0ms 6800ms both;
	animation: slide-in-top 1700ms 3800ms ease 1 both, simple-hide 0ms 6800ms both;
}

#img_14_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out-top 1100ms 6800ms ease 1 both, simple-show 0ms 6800ms both;
	animation: fade-out-top 1100ms 6800ms ease 1 both, simple-show 0ms 6800ms both;
}

#b_15_banner1_061585661 {
	top: 17px;
	left: 0px;
	z-index: 15;
}

#img_15_banner1_061585661 {
	width: 76px;
	height: 138px;
}

#img_15_banner1_061585661.bnfy-enter {
	-webkit-animation: slide-in-top 2000ms 3800ms ease 1 both, simple-hide 0ms 6900ms both;
	animation: slide-in-top 2000ms 3800ms ease 1 both, simple-hide 0ms 6900ms both;
}

#img_15_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out-top 900ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
	animation: fade-out-top 900ms 6900ms ease 1 both, simple-show 0ms 6900ms both;
}

#b_16_banner1_061585661 {
	top: 125px;
	left: 140px;
	z-index: 16;
}

#img_16_banner1_061585661 {
	width: 102px;
	height: 102px;
}

#img_16_banner1_061585661.bnfy-enter {
	-webkit-animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6600ms both;
	animation: puff-in-center 700ms 2600ms ease 1 both, simple-hide 0ms 6600ms both;
}

#img_16_banner1_061585661.bnfy-exit {
	-webkit-animation: fade-out 1000ms 6600ms ease 1 both, simple-show 0ms 6600ms both;
	animation: fade-out 1000ms 6600ms ease 1 both, simple-show 0ms 6600ms both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@-webkit-keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0
	}
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0
	}
}

@keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0
	}
}

@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}
